@import url('https://fonts.googleapis.com/css2?family=Sniglet&family=Tilt+Neon&display=swap');

* {
  box-sizing: border-box !important;
  font-family: 'Tilt Neon', sans-serif;
}

body {
  background-color: #EEEEEE;
  padding: 0 10px;
}

.popup-wrapper {
  width: 350px;
  position: relative;
  background-color: #EEEEEE;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

header svg {
  cursor: pointer;
  font-size: 1.05rem;
}

#add-link {
  display: none;
}

.p-success {
  margin: 15px 0;
  font-size: 1.2rem;
  text-align: center;
  color: #000021;
  font-family: 'Sniglet', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 33px;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 0.90rem;
  padding: 10px 15px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;
  width: 100%;
  margin-top: 15px;
}

button:hover, button:active {
  box-shadow: rgba(80, 63, 205, 0.5) 0px 1px 10px;
  transition: all 0.1s ease 0s;
}

#form-container, #list-container, #end-container, #signin-container {
  animation-duration: 1s;
  animation-name: in;
  display: none;
}

label {
  font-size: 0.7rem;
  color: #000021;
}

#credit-link {
  margin: .5rem auto;
  display: table;
  background: -webkit-linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #ced4da;
  margin: 10px 0;
}

.input-wrapper {
  width: 100%;
  margin: 15px 0;
  position: relative;
}

#tags-input-container, input {
  width: 100%;
  padding: 4px 12px;
  font-size: 0.90rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000021;
  background-color: #EEEEEE;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#tags-input-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#tags-autocomplete {
  width: 100%;
  position: absolute;
  background-color: #EEEEEE;
  z-index: 1500;
  font-size: 0.90rem;
  opacity: 0.95;
}

#tags-autocomplete div {
  padding: 4px 12px;
  cursor: pointer;
}

#tags-autocomplete div:hover {
  background-color: #ced4da;
  padding: 4px 12px;
}

#target-url {
  padding-left: 40px;
}

#target-favicon {
  position: absolute;
  top: 19px;
  left: 12px;
  border-radius: 4px;
  width: 23px;
  z-index: 10;
}

input:focus{
  color: #212529;
  background-color: #EEEEEE;
  outline: 0;
  box-shadow: 0 0 0 0.10rem rgba(103, 63, 215, 0.25);
}

#target-tags {
  border: none;
  outline: none;
  flex-grow: 1;
  box-shadow: none;
  margin: 0;
  padding: 0 0 0 4px;
  width: fit-content;
}

.tag {
  padding: 2px 5px;
  border-radius: 4px;
  color: #EEEEEE;
  font-size: 0.85rem;
  margin: 2px 2px 2px 0;
  display: flex;
  align-items: center;
  background-color: rgb(69, 94, 181);
}

.tag-close-btn {
  cursor: pointer;
  display: flex;
  margin-left: 5px;
  fill: #EEEEEE;
  opacity: 0.5;
}

#end-container {
  padding: 2rem 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#end-container svg {
  font-size: 4rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  fill: #673fd7;
}

/**
  LIST CONTAINER
 */
#list-container {
  display: none;
  flex-direction: column;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.item-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.85rem;
  margin: 2px 0;
  text-decoration: none;
  color: #000021;
}

.item-list img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.item-url {
  font-size: 0.7rem;
  color: #555555;
}

#loader-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  animation-name: in;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #EEEEEE;
  border-bottom-color: rgb(69, 94, 181);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 

@keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}